In [16]:
# Lab2 Day 2
import pandas as pd
customers = pd.read_csv('marketing_customer_analysis.csv')

In [17]:
display(customers)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [18]:
customers.shape

(10910, 26)

In [19]:
# Standardize Header Names. What? 
# cols = []
cols = []
for i in range(len(customers.columns)):
    cols.append(customers.columns[i].lower())
customers.columns=cols

In [20]:
customers.columns = customers.columns.str.replace(' ', '_')
# Replacing spaces with underscores

In [21]:
# Removing column 'unnamed:_0'   data = data.drop(['tcode','percent_income_donated','very_generous'], axis=1)
customers = customers.drop(('unnamed:_0'), axis=1)

In [22]:
customers.dtypes
# Total Claim Amount  , Number of Open Complaints, Months Since Last Claim , Customer Lifetime Value   are numerical
# The rest ist categorical

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [23]:
# NaN Values donors.isna().sum()
customers.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [33]:
# Percentages of NaN
# nulls_df = pd.DataFrame(round(donors.isna().sum()/len(donors),4)*100)
#nulls_df
#nulls_df = nulls_df.reset_index()
#nulls_df
#nulls_df.columns = ['header_name', 'percent_nulls']
#nulls_df
round(customers.isna().sum()/len(customers),4)*100

nulls_customers = pd.DataFrame(round(customers.isna().sum()/len(customers),4)*100)
nulls_customers
nulls_customers = nulls_customers.reset_index()
nulls_customers
nulls_customers.columns = ['header_name', 'percent_nulls']
nulls_customers

                      header_name  percent_nulls
0                        customer           0.00
1                           state           5.78
2         customer_lifetime_value           0.00
3                        response           5.78
4                        coverage           0.00
5                       education           0.00
6               effective_to_date           0.00
7                employmentstatus           0.00
8                          gender           0.00
9                          income           0.00
10                  location_code           0.00
11                 marital_status           0.00
12           monthly_premium_auto           0.00
13        months_since_last_claim           5.80
14  months_since_policy_inception           0.00
15      number_of_open_complaints           5.80
16             number_of_policies           0.00
17                    policy_type           0.00
18                         policy           0.00
19               renew_offer_type           0.00
20                  sales_channel           0.00
21             total_claim_amount           0.00
22                  vehicle_class           5.70
23                   vehicle_size           5.70
24                   vehicle_type          50.25

In [39]:
#Replacing Nan's for months since last claim: Use the most frequent number
import numpy as np
months_since_last_claim = customers['months_since_last_claim'].mean()
months_since_last_claim
customers['months_since_last_claim'] = customers['months_since_last_claim'].fillna(months_since_last_claim)

In [40]:
# Use most common value to fill NaN's for categorial columns: vehicle_class , vehicle_size , respone and state
customers['state'].value_counts()
#donors['gender'].value_counts()
#customers['state'] = customers['state'].fillna

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [41]:
customers['state'] = customers['state'].fillna('California')

In [42]:
customers['vehicle_class'].value_counts()

Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: vehicle_class, dtype: int64

In [43]:
customers['vehicle_class'] = customers['vehicle_class'].fillna('Four-Door Car')

In [46]:
customers['vehicle_size'].value_counts()

Medsize    7251
Small      1966
Large      1071
Name: vehicle_size, dtype: int64

In [47]:
customers['vehicle_size'] = customers['vehicle_size'].fillna('Medsize')

In [48]:
customers['response'].value_counts()

No     8813
Yes    1466
Name: response, dtype: int64

In [49]:
customers['respone'] = customers['response'].fillna('No')

In [ ]:
# Column vehicle_type has 50.25% of NaN's or more specifically misssing values which makes it not fit for use.
# It cannot produce reliable data or conclusion. In a real world case I would suggest to drop the column. 
# I will not do this here though, just to keep the data just in case for the future.

In [55]:
display(customers)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,respone,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,No,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,No,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,No,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,Yes,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,No,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,No,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,No,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,No,2
10909,IV32877,California,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,No,1

In [54]:
customers['month'] = pd.DatetimeIndex(customers['effective_to_date']).month
# Source: https://www.codegrepper.com/code-examples/python/extract+month+from+datetime+pandas

In [56]:
customers.head(60)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,respone,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,No,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,No,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,No,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,Yes,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,No,1
5,HO81102,California,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,50549,...,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A,No,2
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN,No,2
7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,87197,...,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN,No,2
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN,Yes,1
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN,No,1
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,No,1
11,GE63585,California,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,...,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN,No,2
12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,1/31/11,Employed,F,69096,...,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,NaN,No,1
13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,No,1
14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2/28/11,Unemployed,M,0,...,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,NaN,No,2
15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,79487,...,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN,Yes,1
16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,No,2
17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,1/17/11,Unemployed,M,0,...,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A,No,1
18,ZC97968,California,2736.352663,No,Basic,College,2/14/11,Disabled,M,17533,...,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize,A,No,2
19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,41479,...,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A,Yes,2
20,OM80593,California,7247.313475,No,Basic,Bachelor,2/23/11,Unemployed,F,0,...,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,A,No,2
21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2/14/11,Medical Leave,F,13662,...,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,NaN,No,2
22,EQ62488,Oregon,15031.564500,No,Basic,College,1/15/11,Employed,F,59456,...,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large,A,No,1
23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,70174,...,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN,No,2
24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2/15/11,Unemployed,M,0,...,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,A,No,2
25,AY59197,Nevada,9521.222806,No,Extended,College,1/24/11,Employed,M,27769,...,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small,A,No,1
26,XF15789,Arizona,8869.619888,No,Basic,College,2/21/11,Employed,F,81350,...,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large,A,No,2
27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,63774,...,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN,Yes,2
28,CI99444,Nevada,2926.886293,No,Basic,College,2/22/11,Employed,F,92381,...,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize,A,No,2
29,BD70337,California,24706.920110,No,Basic,High School or Below,1/7/11,Medical Leave,M,26307,...,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,NaN,No,1
30,GX19342,California,8491.465719,No,Premium,High School or Below,1/28/11,Unemployed,F,0,...,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large,A,No,1
31,DP19210,California,9191.733549,No,Basic,Master,2/8/11,Employed,F,23823,...,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize,NaN,No,2
32,OJ63606,Arizona,5776.338737,No,Premium,High School or Below,1/28/11,Medical Leave,F,27510,...,Corporate Auto,Corporate L3,Offer1,Call Center,871.457982,SUV,Small,A,No,1
33,OH23893,California,9115.571690,No,Basic,Bachelor,2/15/11,Employed,F,69588,...,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize,NaN,No,2
34,RI76930,California,4163.040810,No,Basic,College,2/12/11,Employed,F,43276,...,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large,NaN,No,2
35,YK26558,California,5264.642009,No,Basic,College,2/20/11,Unemployed,F,0,...,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize,NaN,No,2
36,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,28855,...,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,NaN,No,1
37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2/7/11,Employed,M,41533,...,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize,NaN,No,2
38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,1/28/11,Medical Leave,F,21137,...,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN,No,1
39,XD72019,Oregon,8470.043225,No,Extended,Bachelor,2/19/11,Unemployed,F,0,...,Personal Auto,Personal L2,Offer2,Web,479.312226,Four-Door Car,Large,A,No,2
40,RR93140,California,2880.348532,No,Basic,College,1/5/11,Employed,F,81565,...,Personal Auto,Personal L2,Offer2,Branch,190.642833,Four-Door Car,Medsize,A,No,1
41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2/7/11,Medical Leave,M,20072,...,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize,NaN,No,2
42,PV62583,Nevada,9799.175061,No,Extended,College,1/3/11,Medical Leave,M,22166,...,Personal Auto,Personal L3,Offer1,Web,604.800000,SUV,Medsize,A,No,1
43,BL12371,Arizona,5790.565333,No,Basic,Master,2/3/11,Employed,M,84551,...,Personal Auto,Personal L3,Offer2,Agent,28.925840,Four-Door Car,Large,A,No,2
44,ER49844,Arizona,5041.447024,No,Basic,College,1/19/11,Employed,M,61972,...,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize,NaN,No,1
45,RI22468,Arizona,5745.943340,No,Basic,Bachelor,1/22/11,Employed,F,57740,...,Personal Auto,Personal L1,Offer3,Web,269.905129,Four-Door Car,Medsize,A,No,1
46,SY48591,Arizona,4827.776810,No,Basic,College,1/17/11,Unemployed,F,0,...,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize,NaN,No,1
47,PR23514,California,7664.219255,No,Basic,College,1/23/11,Employed,M,60184,...,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize,NaN,No,1
48,UY32623,California,3593.126450,No,Extended,College,2/5/11,Disabled,F,18213,...,Corporate Auto,Corporate L2,Offer1,Branch,460.800000,Four-Door Car,Large,A,No,2
49,QV30663,Nevada,9863.502214,No,Extended,Master,2/28/11,Employed,F,99654,...,Personal Auto,Personal L3,Offer3,Call Center,272.788141,SUV,Medsize,A,No,2
50,MS94619,California,5111.304579,No,Basic,High School or Below,2/13/11,Employed,F,76448,...,Personal Auto,Personal L3,Offer3,Web,302.400000,Four-Door Car,Medsize,A,No,2
51,FT56968,Arizona,2590.096027,No,Basic,High School or Below,1/3/11,Employed,M,22398,...,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large,A,No,1
52,TX39594,Arizona,2452.491364,No,Basic,High School or Below,1/25/11,Employed,F,51085,...,Personal Auto,Personal L3,Offer3,Call Center,406.902001,Two-Door Car,Small,NaN,No,1
53,GR42174,Oregon,2194.668123,No,Basic,College,1/2/11,Unemployed,M,0,...,Personal Auto,Personal L3,Offer4,Call Center,623.525433,Four-Door Car,Medsize,NaN,No,1
54,XI79589,California,4473.883999,No,Extended,High School or Below,2/16/11,Unemployed,F,0,...,Personal Auto,Personal L1,Offer1,Branch,600.000000,SUV,Medsize,NaN,No,2
55,XQ74827,Arizona,19435.629240,No,Extended,High School or Below,2/1/11,Employed,F,38688,...,Special Auto,Special L3,Offer1,Agent,2294.631639,Luxury Car,Medsize,A,No,2
56,TW17878,Oregon,2457.576007,No,Basic,High School or Below,1/27/11,Employed,F,52926,...,Personal Auto,Personal L3,Offer1,Call Center,292.800000,Four-Door Car,Medsize,NaN,No,1
57,GB43363,Oregon,6870.607058,No,Premium,College,1/24/11,Unemployed,M,0,...,Personal Auto,Personal L3,Offer1,Branch,756.000000,Four-Door Car,Small,A,No,1
58,BR69566,California,14019.833140,NaN,Basic,College,2/18/11,Employed,M,31739,...,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN,No,2
59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,1/26/11,Employed,M,91416,...,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN,No,1

In [62]:
# There seems to be no March data as well as any other months except January and February.
# So the whole DataFrame shows only data for the first quarter? Not sure though.
customers['month'].where(customers['month'] == 2)

0        2.0
1        NaN
2        2.0
3        NaN
4        NaN
        ...
10905    NaN
10906    NaN
10907    2.0
10908    2.0
10909    NaN
Name: month, Length: 10910, dtype: float64

In [63]:
customers.to_csv('marketing_customer_analysis_filtered.csv')

In [1]:
# LAB 3

In [2]:
import pandas as pd
import numpy as np

In [ ]:
marke